@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 3, 7, 18;
}

* {
  font-family: 'Inter', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom right,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

@layer components {
  .btn-primary {
    @apply bg-red-600 hover:bg-red-500 text-white font-semibold py-3 px-6 rounded-lg transform transition-all duration-300 shadow-lg hover:shadow-red-500/20 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 hover:-translate-y-1;
  }
  
  .input-field {
    @apply w-full bg-gray-800/70 backdrop-filter backdrop-blur-sm text-white rounded-lg px-4 py-4 border border-gray-700 focus:border-red-500 focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 focus:outline-none transition-all duration-300 shadow-inner placeholder:text-gray-500;
  }
}